{% extends 'base.html' %}
{% load static %}
{% block content %}
<form action="" onload="/test">
<!--    <h1>{{ user1.lic }}</h1>-->
<table style ="background-color:#33475b" class="table table-striped table-bordered table-sm">
<thead class="thead-dark">
<center><b><h1>ORDER DETAILS</h1></b></center>
<table style="background-color:white">

<tr>
    <th>Order Number</th>
    <th>Customer Id</th>
    <th>Medicine Name</th>
    <th>Manufacturer</th>
    <th>Quantity</th>
    <th>Scale</th>
    <th>Order Date</th>
    <th>Prescribed Doctor</th>
    <th>Status</th>
    <th>Actions</th>

</tr>
</thead>
<tbody>
<tr>
    {% for lic1 in lic1 %}
    <td>{{ lic1.order_no}}</td>
    <td>{{ lic1.id }}</td>
    <td>{{ lic1.med_name }}</td>
    <td>{{ lic1.manufacturer }}</td>
    <td>{{ lic1.qty }}</td>
    <td>{{ lic1.scale }}</td>
    <td>{{ lic1.order_date }}</td>
    <td>{{ lic1.lic }}</td>
    <td>{{ lic1.status }}</td>
<td>
<a href="/accept/{{ lic1.order_no }}"><span class="glyphicon glyphicon-pencil" >Accept</span></a>
<a href="/reject/{{ lic1.order_no }}"><span class="glyphicon glyphicon-pencil" >Reject</span></a>
</tr>
{% endfor %}
</tbody>
</table>
</table>
    </form>
<br>
<br>
<center>
    <br>
    <a href="/login_user" class="btn btn-primary">Return Home</a>
</center>
<style>
body {
        background-image: url(/static/images/IMG-20210913-WA0029.jpg);
}</style>
{% endblock content %}
