{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<form autocomplete="off" method="POST" class="post-form" action="/doc">
    {% csrf_token %}
        <div class="form-group row">
            <label class="col-sm-1 col-form-label"></label>
            <div class="col-sm-4">
                <h3> Doctor Registartion</h3>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">License Number:</label>
            <div class="col-sm-4">
                {{ form.lic }}
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Doctor Name:</label>
            <div class="col-sm-4">
                {{ form.name }}
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Specialist:</label>
            <div class="col-sm-4">
                {{ form.specialist }}
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Clinic:</label>
            <div class="col-sm-4">
                {{ form.clinic }}
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">City:</label>
            <div class="col-sm-4">
                {{ form.city }}
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Pin Code:</label>
            <div class="col-sm-4">
                {{ form.pin }}
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Contact:</label>
            <div class="col-sm-4">
                {{ form.contact }}
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Email:</label>
            <div class="col-sm-4">
                {{ form.email }}
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">User Name:</label>
            <div class="col-sm-4">
                {{ form.username }}
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Password:</label>
            <div class="col-sm-4">
                {{ form.password }}
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-1 col-form-label"></label>
            <div class="col-sm-4">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
        <br>
        <a href="/home_admin" class="btn btn-primary">Return Home</a>
         </div>
</form>

<div>
    {% if messages %}
    {% for message in messages %}
    <h3> {{ message }} </h3>
    {% endfor %}
    {% endif %}
    {% endblock content %}
</div>