{% extends 'base.html' %}
{% load static %}
{% block content %}
<form action="" onload="/tests">
<!--    <h1>{{ user1.lic }}</h1>-->
<table style ="background-color:#33475b" class="table table-striped table-bordered table-sm">
<thead class="thead-dark">
<center><b><h1>ORDERS</h1></b></center>
<table style="background-color:light-blue">

<tr>
    <th>Order Number</th>
    <th>Customer Id</th>
    <th>Medicine Name</th>
    <th>Manufacturer</th>
    <th>Quantity</th>
    <th>Scale</th>
    <th>Order Date</th>
    <th>Prescribed Doctor</th>
    <th>Status</th>
    <th>Assign Dealer</th>
    <th>Supply Status</th>
    <th>Action</th>
</tr>
</thead>
<tbody>
<tr>
    {% for lic2 in lic2 %}
    <td>{{ lic2.order_no}}</td>
    <td>{{ lic2.id }}</td>
    <td>{{ lic2.med_name }}</td>
    <td>{{ lic2.manufacturer }}</td>
    <td>{{ lic2.qty }}</td>
    <td>{{ lic2.scale }}</td>
    <td>{{ lic2.order_date }}</td>
    <td>{{ lic2.lic }}</td>
    <td>{{ lic2.status }}</td>
    <td>{{ lic2.deal_id }}</td>
    <td>{{ lic2.allot_status}}</td>
<td>
<a href="/supplys/{{ lic2.order_no }}"><span class="glyphicon glyphicon-pencil" >Supply</span></a>
</tr>
{% endfor %}
</tbody>
</table>
</table>
    </form>
<style>
body {
        background-image: url(/static/images/IMG-20210913-WA0017.jpg);
}</style>
<br>
<br>
<center>
    <br>
    <a href="/" class="btn btn-primary">Return Home</a>
</center>
{% endblock content %}
